body {
    margin:auto;
    max-width:450px;
    font:16px Calibri, Arial;text-shadow: 1px 1px 1px black;color: #61646a;
    background-color: #111;
}




//////////
.q1 {color: #999999;}
.q2 {color: #B1D689;}
.q3 {color: #6BA0E7;}
.q4 {color: #C780DB;}
.q5 {color: #FF8E94;}
.q6 {color: #fe7e01;}
///////////



 .perv_scr { margin : 1 auto; border-radius : 50px; height : 54px; width : 54px; 
}
 .img_ares { margin : 2 auto; border-radius : 5px; height : 90px; width : 480px; 
}
.img_dead { margin : 2 auto; border-radius : 5px; height : 120px; width : 480px; 
}
.img_start { margin : 2 auto; border-radius : 5px; height : 132px; width : 164px; 
}

.menu{
  list-style: none;
}


    .menu li a {
        text-decoration: none;   
    }
    
    .menu li a {
display: block; 
      padding:6px; 
background: #222; 
box-shadow: 0 0 10px rgba(0,0,0,0.4); 
border-bottom: 1px solid #111;
    
    }
    
    .menu li a.no_b {    
      border: 0;    
}
.menu li a:hover{
    background: #000;
}







img{border:0;max-width:100%;vertical-align:middle}








td.adv{

height:1; border:1px solid #000;font-weight:700;background-color:#999}













///////foot///////
.big-but,.but-dif{
display:block;color:#bbb;
font-size:12px;
text-align:center;
width:98%;
height:40px;
padding-top:6px;
margin:0 auto;
position:center;
border:1px solid #21211E;
box-shadow:0 1px 1px #6B6C68 inset
}

.small-but{
display:block;width:99%;
height:35px;
padding-top:5px;
text-align:center;
color:#bbb;
font-size:12px;
background: #222; 
border-right:1px solid #2E2E2E
}

.small-but-task{
display:block;width:99%;
height:21px;
padding-top:3px;
text-align:center;
color:#bbb;
font-size:14px;
background: #222; 
border-right:1px solid #2E2E2E
}


img{border:0;max-width:100%;vertical-align:middle}
a:active,a:link,a:visited{color:#98A2AB;text-decoration:none}

.down-foot{background-color:#21201F}

.line,.lin{height:3px;background-image:url(d-li.png);}
.line2,.lin2{margin-top:3px;height:3px;background-image:url(d-li.png);}

.lines{height:3px;background-image:url(d-li.png);
border-bottom: 3px solid #151515;
}


///////////////
.li{list-style:none;margin-left:3px;margin-top:3px;float:left;border-bottom:#020e19 solid 1px;border-right:#020e19 solid 1px;border-left:#3e3d36 1px solid;border-top:#3e3d36 1px solid
}

.li2,.px,hr{
margin:0;
padding:0
 }


.px,hr{
border:none;
border-top:#25231f solid 1px;border-bottom:#34332c solid 1px
}



a{
    text-decoration: none;color:#f1f1f1;
}
a:hover{
    color:#f1f1f1;
}
img{
    border:0;vertical-align: middle;max-width: 100%;
}
form{
    padding:0; margin:0;
}
input, select, textarea{
    border:1px solid #000; background: #f0f0f0; color: #040404; padding: 2px; margin-top: 2px;
}
table{
    width: 100%;border-collapse:collapse;
}
.header{
    background:#222;display:block;padding:5px;color:#b5b5b5;
}
.title{
    padding:4px;font-size:21px;color:#ddeaf0;text-align:center;
}
.menu_link a{
    display:block;width: 97%;
    padding:5px;margin: 0px auto; text-shadow: none; text-align: left;
    background-color: #363636;
    background-image: -moz-linear-gradient(top, rgb(54, 54, 54), rgb(41, 41, 41));
    background-image: -o-linear-gradient(top, rgb(54, 54, 54), rgb(41, 41, 41));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(54, 54, 54)), to(rgb(41, 41, 41)));
    background-image: linear-gradient(top, rgb(54, 54, 54), rgb(41, 41, 41));
    background-image: -ms-linear-gradient(top, rgb(54, 54, 54), rgb(41, 41, 41));
    color: #fff45c;
    border: 1px solid #000;
}
.menu_link a:hover {
    background: #363636;
}


.block {
padding:6px; 
background: #151515; 
box-shadow: 0 0 10px rgba(0,0,0,0.4); 
border-bottom: 1px solid #252525;
}

.empty_block{
    padding:6px; background: #151515; box-shadow: 0 0 10px rgba(0,0,0,0.4); border-bottom: 1px solid #111;
}
.block_link a{
 display: block; 
      padding:6px; 
background: #222; 
box-shadow: 0 0 10px rgba(0,0,0,0.4); 
border-bottom: 1px solid #111;
}
.block_link a:hover{
    background: #222;
}
.item_link a{
      padding:6px; 
background: #222; 
box-shadow: 0 0 10px rgba(0,0,0,0.4); 
border-bottom: 1px solid #111;
}
.link_center a{
    text-shadow: none; display: block; border: 1px solid #050505;
    background: url("button2.png") no-repeat; width: 160px; padding: 3px 0 3px 0; text-align: center; font-weight: bold; color: #fff;
    margin: 5px auto; font-size: 14px; font-family: Arial;
}
.link_center_h a{
    text-shadow: none; display: block; border: 1px solid #050505;
    background: url("button.png") no-repeat; width: 160px; padding: 3px 0 3px 0; text-align: center; font-weight: bold; color: #fff;
    margin: 5px auto; font-size: 14px; font-family: Arial;
}
.button{
	margin:auto;
    margin-top: 5px; border: 1px solid #050505;
    background: url("button2.png") no-repeat;
    width: 150px; padding: 3px 0 3px 0; text-align: center; font-weight: bold;
    color: #fff; font-size: 14px;
}
.button:hover{
    cursor: pointer;
}
.button2{
	margin:auto;
    margin-top: 5px; border: 1px solid #050505;
    background: url("button.png") no-repeat;
    width: 150px; padding: 3px 0 3px 0; text-align: center; font-weight: bold;
    color: #fff; font-size: 14px;
}
.button2:hover{
    cursor: pointer;
}
.bord{
    border:1px solid #000;
}
.bottom{
    border-bottom: 1px solid #111;
}
.del_bottom{
    border-bottom: none;
}
.top{
    border-top: 1px solid #111;
}
.light_bottom{
    border-bottom: 1px solid #191919;
}
.pagi a{
    background-color: #363636;
    text-shadow: none; text-align: center;
    background-image: -moz-linear-gradient(top, rgb(54, 54, 54), rgb(41, 41, 41));
    background-image: -o-linear-gradient(top, rgb(54, 54, 54), rgb(41, 41, 41));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(54, 54, 54)), to(rgb(41, 41, 41)));
    background-image: linear-gradient(top, rgb(54, 54, 54), rgb(41, 41, 41));
    background-image: -ms-linear-gradient(top, rgb(54, 54, 54), rgb(41, 41, 41));
    color: #fff45c;
    border:1px solid #000; padding: 1px 5px 1px 5px; margin: 5px;
}
.item_center{
    text-align: center;
}
.item_right{
    text-align: right;
}
.item_left{
    text-align: left;
}
.b40px{
width: 48px; height: 48px;
    }
.b60px{
width: 68px; height: 68px;
    }
.float_r{
    float: right;
}
.c5 a{background: #181818;}
.white{color: #e4eff1;}
.gray{color: #aeaeae;}
.red{color: #ff2c2f;}
.lime{color: #17ff00;}
.pink{color: #FF5A9B;}
.violet{color: #B561FF;}
.orange{color: #ff9427;}
.c5{color: #ea00ff;}
.c4{color: #6c6c72;}
.c3{color: #1b51ff;}
.c2{color: #008fff;}
.c1{color: #c5c6cc;}
.ce{color: #FFEF00;}
.b66px{
    width: 72px;
}
.progress-red{
    background: url("line-red.png") repeat-x; height: 7px; float: right;
}
.progress-black{
    background: url("line-black.png") repeat-x; height: 7px;
}
.progress-green{
    background: url("line-green.png") repeat-x; height: 7px;
}
.progress-blue{
    background: url("line-blue.png") repeat-x; height: 7px;
}
.user-nick{
    color: #f1f8ff;
}
.bor1{background:url('info_top.png') repeat-x;background-position:0 0; padding-top: 5px;}
.bor2{background:url('info_right.png') repeat-y;background-position:100% 0; padding-right: 5px;}
.bor3{background:url('info_bot.png') repeat-x;background-position:100% 100%; padding-bottom: 5px;}
.bor4{background:url('info_left.png') repeat-y;background-position:0 0; padding-left: 5px;}
.bor_bg{
    background-image:url('info-bg.png'); font-weight: bold; padding:1px; color: rgb(93, 187, 232);
}
.navbar{
    padding-top: 1px; text-align: left;
}
.navbar a{
    display:block;width: 97%;
    background-color: #033442;
    background-image: -moz-linear-gradient(top, rgb(3, 52, 66), rgb(2, 41, 52));
    background-image: -o-linear-gradient(top, rgb(3, 52, 66), rgb(2, 41, 52));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(3, 52, 66)), to(rgb(2, 41, 52)));
    background-image: linear-gradient(top, rgb(3, 52, 66), rgb(2, 41, 52));
    background-image: -ms-linear-gradient(top, rgb(3, 52, 66), rgb(2, 41, 52));
   padding: 5px; margin-right: 5px;
    border:  0px solid #000;
text-shadow: none;color: #acdcff;

}

.sirvice_bar{
    padding: 3px;
    margin-top: 0px; text-align: center; color: #383838; text-shadow: none; border-top: 1px solid #090909; background: #0f0f0f;
}
.sirvice_bar a{
    padding:0 5px 0 5px; color: #b5c2cf; font-weight: bold;
}


.link_bar {

    display: inline-block;padding: 0 5px 10 5px;
}
.link_bar a{
    display:block;
    padding:6px 32px 6px 32px;text-shadow: none; text-align: center;
    background-color: #363636;
    background-image: -moz-linear-gradient(top, rgb(54, 54, 54), rgb(41, 41, 41));
    background-image: -o-linear-gradient(top, rgb(54, 54, 54), rgb(41, 41, 41));
    background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, from(rgb(54, 54, 54)), to(rgb(41, 41, 41)));
    background-image: linear-gradient(top, rgb(54, 54, 54), rgb(41, 41, 41));
    background-image: -ms-linear-gradient(top, rgb(54, 54, 54), rgb(41, 41, 41));
    color: #fff35c;
    border:qpx solid #000;
}
.link_bar_bg{
    padding: 5px; text-align: center;
}

.role0{color: #85888f;}
.role1{color: #ffd76d;}
.role2{color: #ff392f;}

.bar a{
background:#3c3d3e;
display:block;
color:#e3f1f6;
text-align:center;
padding:7px 0;
font-size:14px;
background:-webkit-radial-gradient(#30383c, #212629, #15181a);
border-right:1px solid #30383c;
border-bottom:1px solid #30383c;
border-top:1px solid #30383c;
background:-o-radial-gradient(#30383c, #212629, #15181a);
background:-moz-radial-gradient(#30383c, #212629, #15181a);  
background:radial-gradient(#30383c, #212629, #15181a)}

.bar_select a{
color:#969696;
background:#171717;
background:-webkit-radial-gradient(#272727,#272727,#171717);
background:-o-radial-gradient(#272727,#272727,#171717);
background:-moz-radial-gradient(#272727,#272727,#171717);
background:radial-gradient(#272727,#272727,#171717);}




.lent{
border:1px solid #88837c;
border-radius:4px;padding:10px;
margin-right:5px;
color:#b4afa8;
text-shadow:none;
}

.w80{
width:80%;
}

.mlra{
margin-left:auto;
margin-right:auto;
margin-top:10px;
}
.bl-ttl,.bl-ttl .te,.bl-ttl .ttl{
height:36px;
background-image:url('/images/style/bg-block-ttl.png');
}
.bl-ttl{
position:relative;
top:-17px;
margin-bottom:-17px;
margin-left:auto;
margin-right:auto;
width:80%;
 max-width: 100%;
max-width:200px;
min-width:140px;
display:block;
background-position:0 -37px;
background-repeat:no-repeat;
}
.bl-ttl .te{
background-position:100% -74px;
background-repeat:no-repeat;
}
.bl-ttl .ttl{
background-position:0 0;
background-repeat:repeat-x;
text-align:center;
white-space:nowrap;
line-height:32px !important;
color:white;
font-weight:bold;
text-shadow:black 0 1px 1px;
margin-left:23px;
margin-right:23px;
    max-width: 100%;
padding:0 5px;
}