html{
  padding: 0;
  margin: 0;
}
/*body{*/
  /*background-color: #1b1b1b;*/
  /*max-width:600px;*/
  /*margin: 0 auto;*/
  /*word-wrap: break-word;*/
  /*font-family: Revie, Arial, sans-serif;*/
  /*font-size:15px;*/
/*}*/

.head{
  background-image: url("/style/images/body/background_h.png");
  border: 1px solid #202125;
  border-image: url("/style/images/body/ramka_head.png") 1;
}
.panel_head{
  position: relative;
  float: right;
  color: #b2b2b2;
  padding: 5px;
}
.location_head{
  padding: 5px;
  font-weight: bold;
  color: #c2965c;
}
.body_list{
  background-image: url("/style/images/body/background_h.png");
}
.body_sel{
  display: inline-block;
  background-image: url("/style/images/body/button_2.png");
  padding: 3px;
  margin: 1px;
  border-radius: 3px;
  border: 1px solid #1f1f1f;
  color: #fff;
}
.page{
  background-image: url("/style/images/body/background_p.png");
}
a{
  color: #888787;
}
a:hover{
  cursor: pointer;
}

.input_form,select {
  width: 95%;
  max-width: 600px;
  border-radius: 6px;
  border: 1px solid #2d2c2c;
  background-color: #434242;
  color: #fff;
  margin: 3px 0 2px;
  padding: 6px 2px 7px;
  padding-left: 5px;
  font-size: 14px;
  font-style:normal;
  font-weight: normal;
  text-decoration: none;
  outline: none;
 }
 ::-webkit-input-placeholder {
  text-align:center;
}
:-moz-placeholder { /* Firefox 18- */
  text-align:center;  
}
::-moz-placeholder {  /* Firefox 19+ */
  text-align:center;  
}
:-ms-input-placeholder {  
  text-align:center; 
}
.weapon_button{
  display: block;
}
.button_red_a{
  display: block;
  background-image: url("/wartor.tk/style/images/body/button_1.png");
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: 1px solid #1f1f1f;
  border-radius: 5px;
  outline: none;
  max-width: 100%;
}
.button_red_i{
  display: block;
  background-image: url("/wartor.tk/style/images/body/button_1.png");
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: 1px solid #1f1f1f;
  border-radius: 5px;
  outline: none;
  width: 98%;
}
.button_green_a{
  display: block;
  background-image: url("/wartor.tk/style/images/body/button_2.png");
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: 1px solid #1f1f1f;
  border-radius: 5px;
  outline: none;
  max-width: 100%;
}
.button_green_i{
  display: block;
  background-image: url("/wartor.tk/style/images/body/button_2.png");
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: 1px solid #1f1f1f;
  border-radius: 5px;
  outline: none;
  width: 98%;
}
.button_i_mini{
  display: block;
  background-image: url("/wartor.tk/style/images/body/button_2.png");
  padding: 4px;
  margin-left: 8px;
  margin-right: 4px;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: 1px solid #1f1f1f;
  border-radius: 5px;
  outline: none;
  width: 50%;
}
 .button_green_i:active, .button_green_a:active{
  background-image: url("/wartor.tk/style/images/body/button_2_act.png");
  border-radius: 5px;
}
 .button_red_a:active, .button_red_i:active{
  background-image: url("/wartor.tk/style/images/body/button_1_act.png");
  border-radius: 5px;
}
.img{
  display: block;
  margin: 0 auto;
  width: 100%;
}
.text_logo{
  display: block;
  max-width: 600px;
  height: 35px;
  margin: 0 auto;
  padding-top: 8px;
}
.text_padd{
  color: #fff;
  padding-left: 8px;  
}
.menulist a {
  list-style: none;
  color: #ecbc7d;
  text-decoration:none;
  display:block;
  padding: 6px;
}
.menulist li {
  color: #fff;
  list-style:none;
  margin:0;
}
.menulist li:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}
.menulist li.original:hover {
  cursor: pointer;
  background-color:transparent;
}
.menulist li:last-child {
  border:0;
}

.info_list{
  padding: 5px;
  color: #c09966;
  font-size: 13px;
}
.svg_list{
  padding: 5px;
  color: #ecbc7d;
}
.svg_list_m{
  padding: 5px;
  color: #bfbfbf;
}

.menulitl a {
  list-style: none;
  color: #ecbc7d;
  text-decoration:none;
  display:block;
  padding-left: 3px;
  padding-right: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.menulitl li {
  color: #fff;
  list-style:none;
  margin:0;
  padding:0;
}
.menulitl li:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}
.menulitl_img{
  border: 1px solid #202125;
  border-image: url("/wartor.tk/style/images/body/ramka_users.png") 1;
  position:relative;
  margin: 3px;
}
.menulitl_img_no{
  position:relative;
  margin: 4px;
}
.menulitl_block{
  position: relative;
  min-height: 33px;
  padding-left: 40px;
  margin-top: -39px;
  color: #d1d1d1;
}
.menubig_block{
  position: relative;
  min-height: 55px;
  padding-left: 60px;
  margin-top: -59px;
  color: #d1d1d1;
}
.menulitl_name{
  font-weight: bold;
}
.menulitl_param{
  font-size:13px;
}

.foot{
  padding-top: 5px;
  margin-bottom: 5px;
  color: #888787;
  text-align: center;
}
.color_foot{
  color: #c18940;
}
.user_foot{
  min-height: 50px;
  padding: 3px;
  color: #b2b2b2;
  text-align: left;
}
.user_nick{
  font-weight: bold;
  color: #c2965c;
}
.user_foot_p{
  position: relative;
  padding-left: 55px;
  margin-top: -54px;
}
.event{
  text-align: center;
  padding: 3px;
  color: #e16e07;
}
.save{
  color: #7412b9;
  text-decoration: none;
  border-bottom: 1px solid #7412b9;
}
.save:hover, .save:active{
  color: #6810a6;
  border-bottom: 1px solid #6810a6;
}

.weapon{
  display: block;
  min-height: 52px;
}
.img_weapon{
  position:absolute;
  padding-left: 4px;
  padding-top: 2px;
}
.img_height{
  min-height: 60px;
  position:relative;
}
.weapon_setting{
  display: block;
  position:relative;
  padding-left: 65px;
  color: #fff;
}
.weapon_height{
  min-height: 60px;
  position:relative;
  padding-left: 65px;
  color: #fff;
}
.weapon_param{
  color: #e6c4ad;
  word-wrap: break-word;
  font-size:14px;
}

.weapon_0{
  border: 2px solid #059e29;
  border-image: url("/wartor.tk/style/images/body/ramka_weapon0.png") 2;
}
.weapon_1{
  border: 2px solid #bfbfbf;
  border-image: url("/wartor.tk/style/images/body/ramka_weapon1.png") 2;
}
.weapon_2{
  border: 2px solid #18b40c;
  border-image: url("/wartor.tk/style/images/body/ramka_weapon2.png") 2;
}
.weapon_3{
  border: 2px solid #e2b70b;
  border-image: url("/wartor.tk/style/images/body/ramka_weapon3.png") 2;
}
.weapon_4{
  border: 2px solid #2066ce;
  border-image: url("/wartor.tk/style/images/body/ramka_weapon4.png") 2;
}
.weapon_5{
  border: 2px solid #921ece;
  border-image: url("/wartor.tk/style/images/body/ramka_weapon5.png") 2;
}
.weapon_6{
  border: 2px solid #ff0000;
  border-image: url("/wartor.tk/style/images/body/ramka_weapon6.png") 2;
}

.potions{
  display: block;
}
.potions_img{
  position:absolute;
  padding-left: 4px;
  padding-top: 7px;
}
.potions_name{
  position:relative;
  padding-left: 60px;
  color: #fff;
  padding-top: 5px;
  font-size:16px;
}
.potions_param{
  color: #d5d5d5;
  word-wrap: break-word;
  font-size:15px;
}

.error{
  background-image: url("/wartor.tk/style/images/body/background_error.jpg");
  color: #fff;
  text-align:center;
  height: 25px;
  padding-top: 5px;
}
.ok{
  background-image: url("/wartor.tk/style/images/body/background_ok.jpg");
  color: #fff;
  text-align:center;
  height: 25px;
  padding-top: 5px;
}
.notif{
  background-image: url("/wartor.tk/style/images/body/notif.jpg");
  font-size: 14px;
  padding: 5px;
  color: #ecbc7d;
  border: 1px solid #202125;
  border-image: url("/wartor.tk/style/images/body/ramka_head.png") 2;
}
.not_exit{
  position: relative; 
  float: right; 
  opacity: .4;
}
.error_list{
  background-image: url("/wartor.tk/style/images/body/background_h.png");
  padding: 5px;
  text-align: center; 
  color: #bfbfbf;
}
.pobeda{
  font-size: 17px;
  color: #43a851;
  font-weight: bold;
  padding-bottom: 3px;
}
.porashenie{
  font-size: 17px;
  color: #dc3434;
  font-weight: bold;
  padding-bottom: 3px;
}

.exp_bar {
  border-top:#202020 solid 1px;
  border-bottom:#202020 solid 1px;
  background-color:#707070;
  padding:0;
}
.exp_bar .progress {
  background-color:#55af55;
  width:0;
  max-width: 600px;
  padding-top:1px;
  padding-bottom:1px;
}

.img_hunting{
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.hunting_name{
  text-align: center;
  padding: 2px;
}
.block_hunting{
  display: block;
}
.img_m_battle{
  position:relative;
  padding: 5px;
}
.img_h_battle{
  border: 1px solid #202125;
  border-image: url("/wartor.tk/style/images/body/ramka_users.png") 1;
  position:relative;
  margin: 4px;
}
.block_monsters{
  position: absolute;
  padding-left: 63px;
  margin-top: -60px;
  color: #d1d1d1;
}
.hp_bar_monster {
  position: relative;
  border-radius: 2px;
  border: 1px solid #d5af8b;
  background-image: url("/wartor.tk/style/images/body/health_h.png");
  margin-left:60px;
  margin-right:10px;
  margin-top: -20px;
}
.hp_bar_monster  .health2 .health {
  border-radius: 2px;
  background-image: url("/wartor.tk/style/images/body/health_monstr_1.png");
  width: 0;
  max-width: 600px;
  height: 10px;
}
.hp_bar_monster .health2, .hp_bar_users .health2 {
  border-radius: 2px;
  background-image: url("/wartor.tk/style/images/body/health_m.png");
  width: 0;
  max-width: 600px;
  height: 10px;
}
.hp_bar_users {
  border-radius: 2px;
  position: relative;
  border: 1px solid #d5af8b;
  background-image: url("/wartor.tk/style/images/body/health_h.png");
  margin-left:60px;
  margin-right:10px;
  margin-top: -20px;
}
.hp_bar_users .health2  .health {
  border-radius: 2px;
  background-image: url("/wartor.tk/style/images/body/health_users_1.png");
  width: 0;
  max-width: 600px;
  height: 10px;
}
.name_monsters{
  font-weight: bold;
}
.param_monsters{
  font-size:13px;
}

.block_img{
  display: block;
  text-align: center;
  padding-top: 5px; 
  position:relative;
  width: 240px;
}
.a{
  position: relative;
  float: center;
}
.left_weapon{
  position: relative;
  float: left;
  max-height: 160px;	
}
.right_weapon{
  position: relative;
  float: right;
  max-height: 160px;	
}
.img_users{
  border: 1px solid #202125;
  border-image: url("/wartor.tk/style/images/body/ramka_users.png") 1;
  position: relative;
  float: center;
}
.status{
  font-size: 14px;
  color: #bfbfbf;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.user_info{
  background-image: url("/wartor.tk/style/images/body/notif.jpg");
  font-size: 14px;
  padding: 5px;
  color: #bfbfbf;
}

.body_info{
  background-image: url("/wartor.tk/style/images/body/notif_m.jpg");
}

.page_navi{	
  margin-left:  1px;
  margin-right:  1px;
  display: inline;
  border: 1px solid #a1a1a1;
  color:#d3d3d3;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
.navigation{
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  text-decoration: none;
}
#page_a{
  margin-left:  1px;
  margin-right:  1px;
  color:#a1a1a1;
  border: 1px solid #454545;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}
#page_a:hover{
  color: #d3d3d3;
  border: 1px solid #a1a1a1;
}

.smiles{
  margin: 2px;
}
.smiles:hover, .smiles:active{
  cursor: pointer;
  opacity: .4;
}
#panel_smiles{
  display: none;
}
#panel_smiles.enabled{
  display: block;
}
#panel_forum{
  display: none;
}
#panel_forum.enabled{
  display: block;	
}
#panel{
  display: none;
}
#panel.enabled{
  display: block;	
}
.smiles_button{
  position: relative; 
  float: right; 
  margin-top: -30px; 
  margin-right: 8px;
}
.smiles_button_t{
  position: relative; 
  float: right; 
  margin-top: -5px; 
  margin-right: 8px;
}
.smiles_button:hover,.update_button:hover, .smiles_button_t:hover{
  cursor: pointer;
}
.update_button{
  position: relative; 
  float: right; 
  margin-top: -28px; 
  margin-right: 35px;	
}

.gift:hover, .gift:active{
  cursor: pointer;
  opacity: .4;
}
.arrow{
  position: relative;
  /*float: right; */
  margin-top: -23px; 
  padding-right: 8px;
}
#otv{
  color: #666666; 
  font-size: 13px;
}
.mail{
  width: 200px; 
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  color: ##bfbfbf;
}

.line_1{
  height: 4px;
  background-image: url("/wartor.tk/style/images/body/line_1.png");
}
.line_1_v{
  height: 4px;
  background-image: url("/wartor.tk/style/images/body/line_1_v.png");
}
.line_1_m{
  height: 3px;
  background-image: url("/wartor.tk/style/images/body/line_1_m.png");
}
.line_2{
  height: 3px;
  background-image: url("/wartor.tk/style/images/body/line_2.png");
}
.line_3{
  height: 1px;
  background-image: url("/wartor.tk/style/images/body/line_3.png");
}
.line_4{
  height: 1px;
  background-image: url("/wartor.tk/style/images/body/line_4.png");
}
.line_foot{
  height: 4px;
  background-image: url("/wartor.tk/style/images/body/line_foot.png");
}
.line_pys{
  height: 11px;
  background-image: url("/wartor.tk/style/images/body/line_pys.png");
}
.line_notif{
  border-bottom: 1px dotted #656263;
}
.mini-line{
  border-bottom: 1px dashed #4b4a4a;
}
.t_max{
  min-height: 60px;
}
.t_img{
  position:absolute;
  padding-left: 7px;
  padding-top: 3px;
}
.t_name{
  display: block;
  position:relative;
  padding-top: 2px;
  padding-left: 63px;
   color: #bfbfbf;
}
.t_param{
  color: #bfbfbf;
  word-wrap: break-word;
  font-size:13px;
}
.rat {
  display: inline-block;
  width: 75px;
  height: 15px;
  background: url(/wartor.tk/style/images/body/star_0.png) repeat-x;
}
.rating_plus {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(/wartor.tk/style/images/body/star_1.png) repeat-x;
}
.star0 { display: none; }
.star1 { width: 7px; }
.star2 { width: 15px; }
.star3 { width: 22px; }
.star4 { width: 30px; }
.star5 { width: 37px; }
.star6 { width: 45px; }
.star7 { width: 52px; }
.star8 { width: 60px; }
.star9 { width: 67px; }
.star10 { width: 75px;}

.whit{
  color: #ffffff;
}
.gray{
  color: #bfbfbf;
}
.red{
  color: #ff0000;
}
.yellow{
  color: #ecbc7d;
}
.orange{
  color: #cb862c;
}
.blue{
  color: #2066ce;
}
.green{
  color: #00a800;
}
.purple{
  color: #dc50ff;
}
.white{
  color: #666666;
}

.bor-1 {
  border: 1px solid #ceb591;
  border-radius: 10px;
  padding: 0;
  margin: 5px 5px 5px 5px;
  line-height: 16px;
}
.bor-2 {
  border: 1px solid #15de78;
  border-radius: 10px;
  padding: 0;
  margin: 5px 5px 5px 5px;
  line-height: 16px;
}
.bor-3 {
  border: 1px solid #6090ff;
  border-radius: 10px;
  padding: 0;
  margin: 5px 5px 5px 5px;
  line-height: 16px;
}
.bor-4 {
  border: 1px solid #da63ff;
  border-radius: 10px;
  padding: 0;
  margin: 5px 5px 5px 5px;
  line-height: 16px;
}
.bor-5 {
  border: 1px solid #15e3ef;
  border-radius: 10px;
  padding: 0;
  margin: 5px 5px 5px 5px;
  line-height: 16px;
}
.bor-6 {
  border: 1px solid #ea5d5c;
  border-radius: 10px;
  padding: 0;
  margin: 5px 5px 5px 5px;
  line-height: 16px;
}

.bor-7 {
  border: 1px solid #ffd700;
  border-radius: 10px;
  padding: 0;
  margin: 0 0 5px 0;
  line-height: 16px;
}
.opacity {
  opacity: 0.3;
}
.bor {
  border: 1px solid #4b4a4a;
  border-radius: 10px;
  padding: 0;
  line-height: 16px;
}
.bor-no-radius {
  border-radius: 0;
}
.size {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}
a.link_for {
  display: inline-block;
  width: 45%;
  height: 200px;
  padding: 7px 0 0;
  border: 1px solid #363636;
  border-radius: 7px;
  margin: 3px 0 0 3px;
}
.block {
  background: rgb(39, 39, 39);
  border: 2px solid #2c2c2c;
  padding: 6px;
  margin: 3px 0;
}
.center {
  text-align: center;
}
.middle-maneken_p {
  position: absolute;
  top: 55px;
  width: 240px;
  margin: 0 auto;
  left: -10px;
  right: 0;
}
.hero-wrapper_p {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
}

.main-hero_p {
  background: url(/images/background/1.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 396px;
  position: relative;
  padding: 10px 10px 10px 0px;

}
.hero-name_p {
  background: url(/images/background/back.png) repeat-x center center;
  margin-top: 0;
  line-height: 26px;
  z-index: 2;
  position: relative;
  padding-top: 7px;
}
.left {
  float: left;
  padding: 01%;
  margin: -2px;
}
table {
  border-spacing: 5px 5px;
}
table {
  background-color: transparent;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
.right {
  float: right;
}
.b-gradient-line_p{
	background:url('/images/background/gradient-top.png') top center repeat-x;
	height:60px;
	width:100%;
	position:absolute;
	text-align:center;
	font-size:16px;
	color:#8f9b9d;
	bottom:0;
	font-family:"Romana";
	line-height:90px
}
.b-gradient-line_p span{
	position:relative
}
.background_shop {
    background-image:url(/images/leather.jpg);
    background-position:50% 50%;
}

.case_shop {
    background: url(/images/case.png) repeat-y left, url(/images/case.png) repeat-y right;
    padding: 5px 20px;
}
hr {
  border: none;
  background: url(/images/hr.png) no-repeat center;
  height: 1px;
  margin: 5px 0;
}
.line {
  background: url(/images/line.png) repeat-x #fff;
  height: 7px;
}
a.link {
  background: #333333 url(/images/link.png) repeat-x center;
  color: #fff !important;
  display: block;
  font-size: 14px;
  padding: 7px;
  text-decoration: none !important;
}
.block_zero {
  background: #333;
  padding: 6px;
  margin: 3px 0;
  background-color: rgba(0,0,0,0.5);
}
.btn-attack {
  display: inline-block;
  border: 1px solid #C91D0A;
  color: #F5EDEF !important;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  font-family: Arial Black;
  width: auto;
  height: auto;
  font-size: 21px;
  padding: 3px 40px;
  background-image: linear-gradient(to bottom, #FC1A0A, #FC2808);
  background-color: #FC3E0F;
  text-decoration: none !important;
}
.btn-attack:hover {
  border: 1px solid #967D09;
  color: #F5EDEF !important;
  box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
  -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
  -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
  background-color: #FCDF5B;
  text-decoration: none !important;
}