body{color:#e3ba7c;font-size: 16px;font-family:arial,tahoma,verdana;line-height:18px; max-width: 440px;background:#060403; margin: auto;   }


.title{  Font-size: 19px;color:#fff;
background:url(http://piratgo.mobi/style/green.png) repeat-x left #170404;

text-align:center; font-weight: bold;
padding: 6px; 
}

.page{
background-color: #0c0a06;


color: #d19a44;
padding: 2;
border: 1px solid #1e120a;

text-align:left;

}
.page a{

color: #504840;
}





.post{ 
background:url(http://piratgo.ru/style/linkss.png) repeat-x bottom #171515;


color: #dabd92;
border: 1px solid #100c0c;
border-top: 0;     
box-shadow: 0 0 10px rgba(0,0,0,0.4);
 
text-align:left;
padding:6px; 
} 
.href{ 
background: #191008;
border: 1px solid #120b05;

color: #e3ba7c;
text-align:left;
padding:5px; 
} 
.post  a{
color:#e06d17;
}


.grey{
color: #3c3c3c; }
.razd {
background:url(http://piratgo.ru/style/down.png) repeat-x #004c80; color: #fff; padding: 7px; border-bottom: 2px solid #024e82;  
font-weight: bold;
}
.hr{
border-top: 1px solid #332618; 
}






.block{
border: 1px solid #0e0c07;
padding:3px; padding-top: 3px; margin: 2px; 
}

.but  {
color: #e6ce93; 
}


 /*
submit:hover {
background: #d0946c;
} */
